{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}
                Randall Valdes | Portafolio
            {% endblock %}
        </title>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>

    <body>

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-custom sticky-top">

            <div class="container">

                <a href="/" class="logo navbar-brand">
                    Randall
                    <span>Desarrollador WEB</span>
                </a>

                <!-- Botón hamburguesa -->
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menuPrincipal"
                    aria-controls="menuPrincipal"
                    aria-expanded="false"
                    aria-label="Abrir menú">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <!-- Menú -->
                <div class="collapse navbar-collapse" id="menuPrincipal">

                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/sobre-mi">Sobre Mí</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/proyectos">Proyectos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/experiencia">Experiencia</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/herramientas">Herramientas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/certificaciones">Certificaciones</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <!-- CONTENIDO -->
        <main class="main-content">

            {% block content %}
            {% endblock %}

        </main>

        <!-- FOOTER -->
        <footer class="footer-custom">

            <div class="container">

                <h3>
                    Randall Valdes
                </h3>

                <p>
                    Desarrollador Web | Django |
                </p>

                <p class="footer-copy">
                    © 2026 - Reserved Rights
                </p>

            </div>

        </footer>

        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>