{% extends 'base.html' %}

{% load static %}

{% block title %}Certificaciones - Randall Valdes{% endblock %}

{% block content %}

<!-- SECCIÓN HERO -->
<section class="hero">

    <div class="container">

        <div class="hero-content">

            <div class="hero-text">

                <h1>
                    Aquí podrás encontrar mis
                    <span>certificaciones.</span>
                </h1>

                <p class="hero-description">
                    Cursos, certificaciones y credenciales que he obtenido durante mi formación profesional.
                </p>

            </div>

            <div class="hero-image">
                <img
                    src="{% static 'img/Certificaciones.avif' %}
                    "alt="Imagen Certificaciones">
            </div>

        </div>

    </div>

</section>

<!-- SECCIÓN DE CERTIFICACIONES -->
<section class="container mb-5">

    <div class="grid">

        {% for certificacion in certificaciones %}

        <div class="card-custom item-card">
            
            {% if certificacion.imagen %}

            <img
            src="{{ certificacion.imagen.url }}"
            alt="{{ certificacion.nombre }}"
            class="item-image"
            loading="lazy" 
            decoding="async">

            {% endif %}

            <!-- Contenedor intermedio para empujar el botón al fondo si es necesario -->
            <div class="flex-grow-1">

                <h3 class="item-title">
                    {{ certificacion.nombre }}
                </h3>

                <h5 class="item-subtitle">
                    {{ certificacion.institucion }}
                </h5>

                <p class="item-meta">
                    {{ certificacion.fecha }}
                </p>

                <p class="item-description">
                    {{ certificacion.descripcion }}
                </p>

            </div>

            {% if certificacion.url %}

            <div class="mt-4">

                <a href="{{ certificacion.url }}" target="_blank" rel="noopener noreferrer" class="btn-custom w-100 text-center">
                    Ver Certificado
                </a>

            </div>

            {% endif %}

        </div>

        {% empty %}
        <!-- Caso sin certificaciones: ocupa todo el ancho disponible -->
        <div class="card-custom item-card text-center grid-col-full">

            <h3 class="item-title m-0">
                No hay certificaciones registradas por el momento.
            </h3>

        </div>
        {% endfor %}

    </div>

</section>

{% endblock %}