{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div class="container">

        <div class="hero-content">

            <div class="hero-text">

                <h1>
                    ¿Quieres
                    <span>trabajar conmigo?</span>
                </h1>

                <p class="hero-description">
                    Estoy disponible para colaborar en proyectos web,
                    automatización de procesos, gestión de datos y desarrollo
                    de aplicaciones utilizando Python y Django.
                </p>

                <p class="hero-extra">
                    Si tienes una idea, proyecto me encantaria colaborar contigo.
                </p>

            </div>

        </div>

    </div>

</section>

<section class="container">

    <div class="grid">

        <!-- EMAIL -->
        <div class="card-custom item-card">

            <h3 class="item-title">
                📧 Correo Electrónico
            </h3>

            <p class="item-description">
                Puedes contactarme directamente por correo.
            </p>

            <a
                href="mailto:cachoyito032@gmail.com"
                class="btn-custom"
            >
                Enviar Correo
            </a>

        </div>

        <!-- TELEFONO -->
        <div class="card-custom item-card">

            <h3 class="item-title">
                📱 Teléfono
            </h3>

            <p class="item-description">
                Disponible para llamadas y WhatsApp.
            </p>

            <a
                href="tel:+56965384117"
                class="btn-custom"
            >
                +56 9 6538 4117
            </a>

        </div>

        <!-- GITHUB -->
        <div class="card-custom item-card">

            <h3 class="item-title">
                💻 GitHub
            </h3>

            <p class="item-description">
                Revisa mis proyectos, repositorios y contribuciones.
            </p>

            <a
                href="https://github.com/Ryroll"
                target="_blank"
                rel="noopener noreferrer"
                class="btn-custom"
            >
                Ver GitHub
            </a>

        </div>

        <!-- LINKEDIN -->
        <div class="card-custom item-card">

            <h3 class="item-title">
                🔗 LinkedIn
            </h3>

            <p class="item-description">
                Conecta conmigo profesionalmente.
            </p>

            <a
                href="https://www.linkedin.com/in/randall-steven-valdés-vásquez-099582392"
                target="_blank"
                rel="noopener noreferrer"
                class="btn-custom"
            >
                Ver LinkedIn
            </a>

        </div>

    </div>

</section>

{% endblock %}