{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div class="container">

        <div class="hero-content">

            <!-- TEXTO -->
            <div class="hero-text">

                <h1>
                    Sobre
                    <span>mi.</span>
                </h1>

                <p class="hero-description">
                    Aquí podrás conocerme un poco más a fondo y descubrir mis habilidades.
                </p>
                
            </div>

            <div class="hero-image">

                {% if perfil.foto %}
                    
                    <img
                        src="{{ perfil.foto.url }}"
                        alt="{{ perfil.nombre }}"
                        class="item-image">
                {% endif %}

            </div>

        </div>
        
    </div>

</section>

<section class="container">

    <div class="grid">

        <div class="card-custom item-card">
            
            <div class="info-section">

                <h3 class="item-title">
                    {{ perfil.nombre }}
                </h3>

                <p class="item-description short-text">

                    {{ perfil.descripcion }}

                </p>

                <button class="btn-link ver-mas-btn">

                    Ver más

                </button>
            
            </div>

            <div class="skills-container">

                <p class="item-description">
                    Algunas de mis habilidades incluyen:
                </p>

                {% for skill in skills %}

                    <span class="hero-badge">
                        {{ skill.nombre }}
                    </span>

                {% endfor %}

            </div>

            <div class="info-section">

                {% if perfil.cv %}

                    <a
                        href="{{ perfil.cv.url }}"
                        class="btn-custom"
                        download>
                        Descargar CV
                    </a>

                    <p class="item-description">
                        Puedes descargar mi CV para obtener más detalles sobre mi experiencia, habilidades y formación académica.
                    </p>

                {% endif %}
            
            </div>

            <div class="info-section">

                {% if perfil.github %}

                    <a
                        href="{{ perfil.github }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn-custom" >
                        GitHub
                    </a>

                    <p class="item-description">
                        Puedes encontrar más información sobre mis proyectos y habilidades en mi perfil de GitHub, donde comparto mis trabajos y colaboraciones.
                    </p>

                {% endif %}
            
            </div>

            <div class="info-section">

                {% if perfil.linkedin %}

                    <a
                        href="{{ perfil.linkedin }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn-custom" >
                        LinkedIn
                    </a>

                    <p class="item-description">
                        Puedes encontrame en LinkedIn.
                    </p>
                        
                {% endif %}

            </div>

        </div>

    </div>

</section>

{% endblock %}